USE [master]
GO
/****** Object:  Database [db_forum]    Script Date: 09/08/2020 13:05:22 ******/
CREATE DATABASE [db_forum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_forum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_forum.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_forum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_forum_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_forum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_forum]
GO
/****** Object:  Table [dbo].[Forum]    Script Date: 09/08/2020 13:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ForumTitle] [nvarchar](30) NOT NULL,
	[ForumDesc] [nvarchar](100) NOT NULL,
	[ForumSection_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 09/08/2020 13:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](25) NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[UserImage] [nvarchar](60) NOT NULL,
	[StandardTitle] [nvarchar](25) NOT NULL,
	[CustomTitle] [nvarchar](25) NOT NULL,
	[Signature] [nvarchar](255) NULL,
	[RegistrationDate] [smalldatetime] NOT NULL,
	[LastLogin] [smalldatetime] NULL,
	[CurrentLogin] [smalldatetime] NULL,
	[Active] [bit] NOT NULL,
	[Online] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reply]    Script Date: 09/08/2020 13:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reply](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[ReplyText] [nvarchar](max) NOT NULL,
	[ReplyCreator_id] [int] NOT NULL,
	[ReplyThread_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 09/08/2020 13:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectionTitle] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thread]    Script Date: 09/08/2020 13:05:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thread](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CreationDate] [smalldatetime] NOT NULL,
	[Views] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[ThreadCreator_id] [int] NOT NULL,
	[ThreadForum_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Forum] ON 

INSERT [dbo].[Forum] ([Id], [ForumTitle], [ForumDesc], [ForumSection_id]) VALUES (1, N'Which Car to Buy', N'Buy new or used? Which brand? What care to take? Ask questions here.', 1)
INSERT [dbo].[Forum] ([Id], [ForumTitle], [ForumDesc], [ForumSection_id]) VALUES (2, N'Maintenance and Cleaning', N'Exchange of information on maintenance and vehicle cleaning.', 1)
INSERT [dbo].[Forum] ([Id], [ForumTitle], [ForumDesc], [ForumSection_id]) VALUES (3, N'Industry News', N'News from the automotive industry.', 1)
SET IDENTITY_INSERT [dbo].[Forum] OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([Id], [Username], [Email], [Password], [UserImage], [StandardTitle], [CustomTitle], [Signature], [RegistrationDate], [LastLogin], [CurrentLogin], [Active], [Online]) VALUES (1, N'abinco', N'abinco@email.com', N'123456', N'user.jpg', N'Member', N'Member', N'Danger is not a horse on the track, it is a donkey in the direction.', CAST(N'2020-07-01T14:30:00' AS SmallDateTime), CAST(N'2020-07-05T14:30:00' AS SmallDateTime), CAST(N'2020-07-07T14:30:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[Member] ([Id], [Username], [Email], [Password], [UserImage], [StandardTitle], [CustomTitle], [Signature], [RegistrationDate], [LastLogin], [CurrentLogin], [Active], [Online]) VALUES (2, N'soares', N'soares@email.com', N'123456', N'user.jpg', N'Member', N'Member', N'With God and Our Lady, throughout Brazil.', CAST(N'2020-07-02T14:30:00' AS SmallDateTime), CAST(N'2020-07-06T14:30:00' AS SmallDateTime), CAST(N'2020-07-07T14:30:00' AS SmallDateTime), 1, 1)
INSERT [dbo].[Member] ([Id], [Username], [Email], [Password], [UserImage], [StandardTitle], [CustomTitle], [Signature], [RegistrationDate], [LastLogin], [CurrentLogin], [Active], [Online]) VALUES (3, N'nevada', N'nevada@email.com', N'123456', N'user.jpg', N'Member', N'Member', N'This vehicle is tracked by God.', CAST(N'2020-07-03T14:30:00' AS SmallDateTime), CAST(N'2020-07-05T14:30:00' AS SmallDateTime), CAST(N'2020-07-05T14:30:00' AS SmallDateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Member] OFF
GO
SET IDENTITY_INSERT [dbo].[Reply] ON 

INSERT [dbo].[Reply] ([Id], [CreationDate], [ReplyText], [ReplyCreator_id], [ReplyThread_id]) VALUES (1, CAST(N'2020-07-03T15:30:00' AS SmallDateTime), N'<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at arcu sed diam facilisis scelerisque. Integer sit amet blandit mi. Praesent volutpat quam eget elit feugiat lacinia.</p><p>Donec sed diam viverra, congue sapien non, feugiat est. Maecenas rutrum nisi ut eros lacinia, luctus efficitur dolor porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum vitae fermentum felis, a elementum ex</p>', 1, 1)
INSERT [dbo].[Reply] ([Id], [CreationDate], [ReplyText], [ReplyCreator_id], [ReplyThread_id]) VALUES (2, CAST(N'2020-07-03T14:50:00' AS SmallDateTime), N'<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at arcu sed diam facilisis scelerisque. Integer sit amet blandit mi. Praesent volutpat quam eget elit feugiat lacinia.</p><p>Donec sed diam viverra, congue sapien non, feugiat est. Maecenas rutrum nisi ut eros lacinia, luctus efficitur dolor porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum vitae fermentum felis, a elementum ex</p>', 2, 1)
INSERT [dbo].[Reply] ([Id], [CreationDate], [ReplyText], [ReplyCreator_id], [ReplyThread_id]) VALUES (3, CAST(N'2020-07-07T14:52:00' AS SmallDateTime), N'<p>Praesent at arcu sed diam facilisis scelerisque. Integer sit amet blandit mi. Praesent volutpat quam eget elit feugiat lacinia.</p><p>Donec sed diam viverra, congue sapien non, feugiat est. Maecenas rutrum nisi ut eros lacinia, luctus efficitur dolor porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum vitae fermentum felis, a elementum ex</p>', 1, 2)
SET IDENTITY_INSERT [dbo].[Reply] OFF
GO
SET IDENTITY_INSERT [dbo].[Section] ON 

INSERT [dbo].[Section] ([Id], [SectionTitle]) VALUES (1, N'General')
INSERT [dbo].[Section] ([Id], [SectionTitle]) VALUES (2, N'Hobbye')
INSERT [dbo].[Section] ([Id], [SectionTitle]) VALUES (3, N'Entertainment')
SET IDENTITY_INSERT [dbo].[Section] OFF
GO
SET IDENTITY_INSERT [dbo].[Thread] ON 

SET IDENTITY_INSERT [dbo].[Thread] OFF
GO
ALTER TABLE [dbo].[Forum]  WITH CHECK ADD  CONSTRAINT [FK_C371B889] FOREIGN KEY([ForumSection_id])
REFERENCES [dbo].[Section] ([Id])
GO
ALTER TABLE [dbo].[Forum] CHECK CONSTRAINT [FK_C371B889]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_A6B0D327] FOREIGN KEY([ReplyCreator_id])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_A6B0D327]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_D34463D3] FOREIGN KEY([ReplyThread_id])
REFERENCES [dbo].[Thread] ([Id])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_D34463D3]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [FK_7C3E59E0] FOREIGN KEY([ThreadForum_id])
REFERENCES [dbo].[Forum] ([Id])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [FK_7C3E59E0]
GO
ALTER TABLE [dbo].[Thread]  WITH CHECK ADD  CONSTRAINT [FK_FF676A77] FOREIGN KEY([ThreadCreator_id])
REFERENCES [dbo].[Member] ([Id])
GO
ALTER TABLE [dbo].[Thread] CHECK CONSTRAINT [FK_FF676A77]
GO
USE [master]
GO
